<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MoltenCore.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>MoltenCoreiOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3E2E6E08132937A500AF1264</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E2E6E13132937A500AF1264</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3EA23D7F1316CCDB00E49338</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3EA23D941316CCDB00E49338</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3EE8ADAC132F9E6D00FCF340</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
